html {
    position : relative
    min-height : 100%
    margin : 0
}

body {
    min-height : 100%
}

.header svg {
    width: 40px;
    height: 40px;
    color: #00BFFF;
    margin-left: 5%;
    margin-right: 2%;
}

.header a{
    color: #4169E1;
    font-weight: 600;
}

.header #navbarNav{
    margin-left: 5%;
    margin-right: auto;
}

.header #navUl{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

/*index-HTML : 메인 폼*/
.content .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.content .middleItem img{
  width: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;

}

.content .middleItemLogin{
  text-align: center;
  display: inline-block;
  background-color: #F8F8FF;
  border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  width: 60%;
  height: 500px;
  padding : 30px;
  color: #4169E1;
  font-weight: 600;
}

 /*lectureApplication-HTML : 수강신청 폼*/
.content .lectureMain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content .side{
 display: inline-block;
}

.content .lectureApplicationForm{
  display: inline-block;
}

.footer {
    position : absolute;
    left : 0;
    right : 0;
    bottom : 0;
    width : 100%;
    padding-right : 15px;
    text-align : center;
}

.content {
    margin-bottom : 100%;
    margin-top : 50px;
    margin-left : 200px;
    margin-right : 200px;
}

