<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" layout:fragment="content">

    <div class="lectureMain">

        <!--사이드 nav -->
        <div class="side">
            <div class="flex-shrink-0 p-3">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                    <span class="fs-5 fw-semibold">수강</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                            수강신청
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                            수강 조회
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--학생정보 Form : 현재 로그인되어 있는 학생 정보 보여주기-->
        <div class="lectureApplicationForm">
            <h1>학생 정보</h1>
            <!--과목List Get-->
            <table class="table" >
                <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>학년</th>
                    <th>반</th>
                    <th>번호</th>
                    <th>성별</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
                <tr th:each="listDto : ${studentDtoList}" th:object="${listDto}">
                    <td th:text="*{studentNo}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="${#strings.substring(listDto.studentNo,0,1)}"></td>
                    <td th:text="${#strings.substring(listDto.studentNo,1,3)}"></td>
                    <td th:text="${#strings.substring(listDto.studentNo,3)}"></td>
                    <td th:switch="${#strings.toString(listDto.gender)}">
                        <span th:case="M">남</span>
                        <span th:case="F">여</span>
                    </td>
                    <td th:text="*{phone}"></td>
                    <td th:text="*{address}"></td>
                </tr>
            </table>

        <!--수강신청 Form-->
        <div class="lectureApplicationForm">
        <h1>수강 신청</h1>
            <!--과목List Get-->
            <table class="table" >
                <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>학년</th>
                    <th>반</th>
                    <th>번호</th>
                    <th>성별</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
                <tr th:each="listDto : ${studentDtoList}" th:object="${listDto}">
                    <td th:text="*{studentNo}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="${#strings.substring(listDto.studentNo,0,1)}"></td>
                    <td th:text="${#strings.substring(listDto.studentNo,1,3)}"></td>
                    <td th:text="${#strings.substring(listDto.studentNo,3)}"></td>
                    <td th:switch="${#strings.toString(listDto.gender)}">
                        <span th:case="M">남</span>
                        <span th:case="F">여</span>
                    </td>
                    <td th:text="*{phone}"></td>
                    <td th:text="*{address}"></td>
                </tr>
            </table>
        <!--신청항목 Post-->
        <form th:action="@{/academicManagementView/insert}" method="post" class="container" >
            <h1>수강 신청 내역</h1>
            <div class="mb3">
                <label class="form-label">학번</label>
            </div>
            <div class="mb3">
                <label class="form-label">국어 점수</label>
            </div>
            <div class="mb3">
                <label class="form-label">수학 점수</label>
            </div>
            <div class="mb3">
                <label class="form-label">영어 점수</label>
            </div>
            <div class="mb3">
                <label class="form-label">역사 점수</label>
            </div>
            <input type="submit" value="저장" class="btn btn-primary">
        </form>
    </div>

    </div>
    </div>
</body>
</html>