<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
<h1>Student List</h1>

<table border="1">
    <thead>
    <tr>
        <th>학번</th>
        <th>성명</th>
        <th>생년월일</th>
        <th>성별</th>
        <th>주소</th>
        <th>연락처</th>
        <th>학과</th>
        <th>학년r</th>
        <th>학기</th>
        <th>입학일</th>
        <th>졸업일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${#dates.format(student.birth, 'dd/MM/yyyy')}"></td>
        <td th:text="${student.gender}"></td>
        <td th:text="${student.address}"></td>
        <td th:text="${student.phone}"></td>
        <td th:text="${student.department.name}"></td>
        <td th:text="${student.academicYear}"></td>
        <td th:text="${student.semester}"></td>
        <td th:text="${#dates.format(student.entranceDate, 'dd/MM/yyyy')}"></td>
        <td th:text="${student.graduationDate != null} ? ${#dates.format(student.graduationDate, 'dd/MM/yyyy')} : 'N/A'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
